body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}

.fleche {
  position: fixed;
  bottom: 33px;
  right: 11px;
  background-color: #fff;
  border: #424242 solid 2px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}

.logo {
  margin: 3em auto;
}

table {
  border-collapse: collapse;
  border: 3px solid rgb(54, 38, 38);
  font-family: sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
}

thead {
  background-color: #2253be;
  color: #f8f400;
  position: sticky;
  top: 0px;
}

th,
td {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody>tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tbody>tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

.bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em 2em;
}

.popup {
  display: none;
  position: absolute;
  background-color: lightblue;
  color: #000;
  padding: 10px;
  border: 5px solid #f8f400;
  border-radius: 10px;
  z-index: 1;
  left: 10px;
  top: 100px;
  position: fixed;
  overflow: auto;
  max-height: 45em;
  width: 30em;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.6);
}

#croix {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  border: #000 solid 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.popup::-webkit-scrollbar {
  width: 0px;
}

.info img {
  background-color: #fff;
  border: 2px solid #f8f400;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin-right: 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.info div div img {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  margin: 0 5px 0 5px;
}

.info div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info div div p {
  margin: 0;
}

.info div h4 {
  margin: 15px auto 15px auto;
}

.base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.base p {
  border-radius: 10px;
  border: 2px solid #f8f400;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin: 0.5em auto;
}

.popupimg {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #424242;
  border-radius: 10px;
  z-index: 3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.id {
  position: absolute;
  top: 20px;
  right: 105px;
  margin: 0;
  font-size: 1.2em;
}

#nom {
  font-size: 1.5em;
  border-bottom: #f8be00 4px solid;
  margin-top: 0.2em;
}

.description {
  width: 50%;
}

button:disabled {
  background-color: #546382;
  border: 3px ridge #bababa;
  color: #bababa;
}

button:hover:enabled {
  box-shadow: inset 0px 0px 25px #3700ff;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #1479EA;
  outline: none;
  background-color: transparent;
  color: #1479EA;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}

.info,
.atk {
  display: flex;
  flex-direction: row;
}

.atk {
  justify-content: space-evenly;
}

li {
  list-style-image: url("../css/images/pokeball.png");
  margin: 0.5em 0;
}

.atk img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.atk div ul div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.atk div ul li {
  height: fit-content;
  width: 8em;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1px 5px 5px 5px;
  text-align: center;
}

/* -------------------------------------------- Bloc pour filtres ------------------------------- */
.filtres input {
  width: 80px;
}

.filtres select {
  width: 88px
}

.filtres div {
  margin: 20px 0;
}

.filtres {
  background-color: white;
  padding: 0 30px;
  border: 2px solid #000000;
  border-radius: 10px;
  z-index: 1;
  right: 4vw;
  top: 40vh;
  position: fixed;
  max-height: 45em;
  width: 200px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.6);
}

.filtres div {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1500px) {
  .filtres {
    padding: 0;
    width: 70vw;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: space-evenly;
  }

  .filtres div {
    gap: 10px;
    min-width: 150px;
  }
}

@media only screen and (max-width: 700px) {

  .filtres {
    width: 90vw;
  }

  .filtres div {
    justify-content: center;
  }

  table,
  thead,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  table {
    width: 25em;
    border: none;
    border-collapse: collapse;
  }

  thead {
    display: none;
  }

  td {
    padding-left: 178px;
    position: relative;
    margin-top: -1px;
  }

  td::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    bottom: 0;
    background-color: #2253be;
    color: #f8f400;
    padding: 8px;
    content: attr(data-label);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  td:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }

  td:nth-of-type(odd) {
    background-color: #fcfcfc;
  }

  tr {
    border: #000 solid 2px;
    margin-top: -1px;
    margin: 1em 0;
  }

  .logo {
    width: 60%;
  }

  .popup {
    margin: auto;
  }

}

@media only screen and (max-width: 500px) {
  .filtres {
    flex-direction: column;
    width: 60vw;
  }

  .filtres div {
    margin: 5px 25px;
    justify-content: space-between;
  }
}