
body{
    background-color: #14409e;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(107, 106, 106);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

thead {
    background-color: rgb(228 240 245);
    position: sticky;
    top: 0px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody{
    background-color: #fcfcfc;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

 /* Style pour la popup */
 .popup {
    display: none; /* Cache la popup par défaut */
    position: absolute;
    background-color: lightblue;
    color: #000;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    z-index: 1;
    right: 10px;
}

.popup img {
    background-color: #ccc;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px;
}

.popupimg {
    display: none; /* Cache la popup par défaut */
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    border: 2px solid #424242;
    border-radius: 10px;
    z-index: 1;
}


@media only screen and (max-width: 600px) {

    table td {
      width: 50%; /* Deux colonnes par ligne */
      box-sizing: border-box;
    }
    
  }