<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>NOM</th>
            <th>GEN</th>
            <th>TYPES</th>
            <th>STAMINA</th>
            <th>ATTAQUE</th>
            <th>DEFENSE</th>
            <th>URL</th>
        </thead>
        <tbody>
            <tr>
                <td>4</td>
                <td>Charmander</td>
                <td>1</td>
                <td style="color:red">Fire</td>
                <td>118</td>
                <td>116</td>
                <td>93</td>
                <td><img src="../webp/sprites/004MS.webp"></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Bulbasaur</td>
                <td>1</td>
                <td style="color:green">Grass / Poison</td>
                <td>128</td>
                <td>118</td>
                <td>111</td>
                <td><img src="../webp/sprites/001MS.webp"></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Squirtle</td>
                <td>1</td>
                <td style="color:blue">Water</td>
                <td>127</td>
                <td>94</td>
                <td>121</td>
                <td><img src="../webp/sprites/007MS.webp"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Charmander</td>
                <td>1</td>
                <td style="color:red">Fire</td>
                <td>118</td>
                <td>116</td>
                <td>93</td>
                <td><img src="../webp/sprites/004MS.webp"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>